@media (max-width: 375px) {
    .allLinksDivs {
        gap: 20px;
    }
}


@media (max-width: 320px) {
    .allLinksDivs {
        gap: 14px;
        width: 100%;
        justify-content: center;
    }
}